@tailwind base;
@tailwind components;
@tailwind utilities;

.title {
  font-family: var(--font-jersey), sans-serif !important;
}

.subtitle {
  font-family: var(--font-fira-mono), monospace !important;
}

.separator {
  width: 100% !important;
  flex-grow: 1 !important;
}

.radix-themes {
  --default-font-family: var(--font-fira-mono), monospace !important;

  display: flex;
  align-items: center;
  justify-content: center;
}

.emoji-input {
  max-width: 36px;
}
