@tailwind base;
@tailwind components;
@tailwind utilities;

.title {
  font-family: var(--font-jersey), sans-serif !important;
}

.subtitle {
  font-family: var(--font-fira-mono), monospace !important;
}

.separator {
  width: 100% !important;
  flex-grow: 1 !important;
}

.radix-themes {
  --default-font-family: var(--font-fira-mono), monospace !important;

  display: flex;
  align-items: center;
  justify-content: center;
}

.emoji-input {
  max-width: 36px;
}

.popup-animate {
  animation: popup 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

@keyframes popup {
  0% {
    transform: scale(0);
    filter: blur(10px);
  }

  100% {
    transform: scale(1);
  }
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 16px;
  width: 100%;
}

.icon {
  background: var(--accent-3);
  border-radius: 99px;
  display: flex;
  align-items: center;
  justify-content: center;
}
